.clip-card{
  @include section-wrapper(0,$colorDark,$primarypadding/1.5,$primarypadding/3);
  color:$colorlight;
  border-radius: rem($primarypadding/2);

  .img{
    img{
      border-radius: rem($disprimary/2);
      margin-bottom: rem($primarymargin/5);
      width:100%;
    }
    position:relative;
  }
  .video-resume{
    @include flex(row,center,center,0);
    width:rem(45);
    height: rem(45);
    background-color: $colorlight;
    border-radius: rem($disprimary/2);
    position: absolute;
    top:35%;
    right:43%;
    cursor: pointer;
  }

  &__body{
    @include flex(row,space-between,center,0);
    padding:0;
    font-size: rem(13);
      &--name{
        font-size: rem(16);
        padding:0 rem(10);
      }
    }
  }

  @media (min-width: 1179px) {
  .clip-card{
    flex:1 1 20%;

  }
}

@media screen and (min-width: 750px) and (max-width: 1179px) {
  .clip-card{
    flex:1 1 33%;

  }
}
@media (max-width: 749px) {
  .clip-card{
    flex:1 1 80%;

  }
}
