.Hero{
  background: url('assets/images/banner-bg.jpg') no-repeat top right/cover;
  background-position: center;
  min-width:rem(400);
  max-width:100%;
  background-color: $primaryColor;
  padding:rem($primarypadding) rem(40);
  border-radius: rem($disprimary/2);
  &__text{
    color:white;
    font-size: rem($disprimary/2);
    padding-bottom: rem($disprimary/2);

  }
  &__title{
    span{
      color:$primaryColor;
    }
    font-size: rem(50) ;
    font-weight: 800;
    color:$colorlight;
    padding-bottom: rem(20);

  }
  &__button{
    button{
      background-color: $primaryColor;
      color:$colorlight;

    }
  }
}