.nav-list-item{
  text-align: center;
    a{
      color:$textColor;
      text-decoration: none;
    }
    a:hover{
      color:$primaryColor;
    }
 
}
li.isClicked a{
  color: $primaryColor;
}


@media (max-width:990px){
  .nav-list-item{
    text-align: center;
    a{
      color:$colorDark;
    }
    a:hover{
      color: $primaryColor;
    }
  }
  .nav-list-item::after{
    @include horizontal-line(1,$textColor,60%);
    margin-left: 20%;
  }
  
}