.liveStream{
  @include section-wrapper(155,$colorDarkest,0,0);
  &__img{
    position: relative;
    @include flex(column,center,center,0);
    &:hover{
      .streamser-views>span ,.streamer-live{
        opacity: 0.9;
      }
    }

    img{
      width:100%;
      border-radius: rem($disprimary/1.5);
    }
  }
  &__body{
    @include flex(row ,space-between,start,13);
    padding:rem(15) rem(0) rem(15) rem(10);
    &--img{
      flex:1 1 25%;
    @include flex(row ,center,center,15);
      img{
        // width: rem(70);
        border-radius: rem(30);
        justify-self:center ;
      }
    }
    &--info{
      flex:1 1 70%;
      &-name{
        color:$primaryColor;
        font-size: rem(15);
        font-weight: 700;
        margin-bottom: rem(10);
        span:First-child{
          font-size: rem(18);
        }

      }
      &-state{
        font-size: rem(17);
        font-weight: 800;
      }
    }
  }
}
.streamser-views{
  & span{
    @include box-container($colorlight,$primaryColor,5,8,0);
    border-radius: rem(15);
    margin-right:rem(5);
    transition: opacity 0.4s;
  }
  position: absolute;
  bottom:rem(20);
}
.streamer-live{
  @include box-container($colorlight,$primaryColor,5,10,0);
  border-radius: rem(15);
  position: absolute;
  top:rem(35);
  right:rem(20);
  transition: opacity 0.4s;

}



