@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&display=swap');
$primaryColor:#ec6090;
$colorDark:#27292a;
$colorlight:#fff;
$colorDarkest:#1f2122;
$textColor:#666;
$disprimary:50;
$bodyBGColor:$colorDarkest;
$primarypadding:$disprimary;
$primarymargin :$disprimary;

body{
  background-color: $colorDarkest;
  font-family:Poppins,sans-serif;
}
*{
  margin:0;
  padding:0;
}

@function rem($size) {
  $value: $size;
  @if(type-of($value)==number) {
    @return $value/16+rem;
  }
  @else {
    @return $value;
  }
}

@mixin section-wrapper($width,$bg-color,$hrPadding,$vrPadding){
  min-width:rem($width);
  background-color:$bg-color;
  padding:rem($hrPadding) rem($vrPadding);
  border-radius:rem($hrPadding/2);
}
@mixin flex($direction,$justifyContent,$alignItems,$gap){
  display: flex;
  flex-direction: $direction;
  justify-content:$justifyContent;
  align-items: $alignItems;
  column-gap: rem($gap);
  row-gap: rem($gap);
}
@mixin horizontal-line($height,$color,$width){
  content: "";
  display: block;
  width: $width;
  height:rem($height);
  background-color: $color;
}


