@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,700;1,300&display=swap");
body {
  background-color: #1f2122;
  font-family: Poppins, sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

.card {
  min-width: 12.5rem;
  background-color: #27292a;
  padding: 1.5625rem 0.78125rem;
  border-radius: 0.78125rem;
  color: #fff;
  flex: 1;
}
.card img {
  border-radius: 0.78125rem;
  margin-bottom: 0.625rem;
}
.card-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  row-gap: 0.625rem;
  padding: 0;
  font-size: 0.875rem;
}
.card-body__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  row-gap: 0.625rem;
}
.card-body__info__state {
  color: gray;
  font-family: Arial, Helvetica, sans-serif;
}
.card-body__rating {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  row-gap: 0.625rem;
}

.main__container {
  width: 80%;
  margin: auto;
  padding: 3.125rem;
  min-width: 33.75rem;
  max-width: 100%;
  background-color: #27292a;
  border-radius: 1.5625rem;
  margin-top: 3.125rem;
}

@media screen and (min-width: 500px) and (max-width: 1080px) {
  .main__container {
    width: 70%;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .main__container {
    width: 95%;
  }
}
.section__wrapper {
  min-width: 25rem;
  background-color: #1f2122;
  padding: 3.125rem 2.5rem;
  border-radius: 1.5625rem;
  color: #fff;
  margin-bottom: 3.125rem;
  position: relative;
}

.section__header {
  font-size: 1.75rem;
  font-weight: 700;
  margin-bottom: 1.5625rem;
}
.section__header a {
  color: #fff;
}
.section__header span {
  color: #ec6090;
}

.Library-card {
  min-width: 18.75rem;
  background-color: #1f2122;
  padding: 0.78125rem 0.78125rem;
  border-radius: 0.390625rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  row-gap: 1.25rem;
  flex-wrap: wrap;
}
.Library-card::after {
  content: "";
  display: block;
  width: 100%;
  height: 0.0625rem;
  background-color: #ec6090;
}
.Library-card img {
  width: 6.25rem;
  border-radius: 1.5625rem;
}
.Library-card span {
  color: gray;
}

@media screen and (min-width: 750px) and (max-width: 1150px) {
  .Library-card > * {
    flex: 1 1 25%;
  }
}
@media screen and (min-width: 400px) and (max-width: 750px) {
  .Library-card {
    justify-content: space-between;
  }
  .Library-card__img {
    flex: 1 1 100%;
    text-align: center;
  }
  .Library-card__button {
    flex: 1 1 100%;
    text-align: center;
  }
  .Library-card__name {
    flex: 1 1 35%;
    text-align: center;
  }
  .Library-card__spended-time {
    flex: 1 1 35%;
    text-align: center;
  }
  .Library-card__date-join {
    flex: 1 1 35%;
    text-align: center;
  }
  .Library-card__game-state {
    flex: 1 1 35%;
    text-align: center;
  }
}
.button a {
  padding: 0.78125rem 1.5625rem;
  color: #fff;
  border-radius: 1.5625rem;
  font-size: 0.875rem;
  letter-spacing: 0.03125rem;
  text-decoration: none;
  transition: all 0.3s;
}

.primary-button a {
  background-color: #ec6090;
}

.primary-button a:hover {
  background-color: #fff;
  color: #ec6090;
}

.secondary-button a {
  color: #ec6090;
  background-color: transparent;
  border: 0.0625rem solid #ec6090;
}

.secondary-button a:hover {
  background-color: #fff;
  color: #ec6090;
  border: none;
}

.nav-list-item {
  text-align: center;
}
.nav-list-item a {
  color: #666;
  text-decoration: none;
}
.nav-list-item a:hover {
  color: #ec6090;
}

li.isClicked a {
  color: #ec6090;
}

@media (max-width: 990px) {
  .nav-list-item {
    text-align: center;
  }
  .nav-list-item a {
    color: #27292a;
  }
  .nav-list-item a:hover {
    color: #ec6090;
  }
  .nav-list-item::after {
    content: "";
    display: block;
    width: 60%;
    height: 0.0625rem;
    background-color: #666;
    margin-left: 20%;
  }
}
.clip-card {
  min-width: 0rem;
  background-color: #27292a;
  padding: 2.0833333333rem 1.0416666667rem;
  border-radius: 1.0416666667rem;
  color: #fff;
  border-radius: 1.5625rem;
}
.clip-card .img {
  position: relative;
}
.clip-card .img img {
  border-radius: 1.5625rem;
  margin-bottom: 0.625rem;
  width: 100%;
}
.clip-card .video-resume {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0rem;
       column-gap: 0rem;
  row-gap: 0rem;
  width: 2.8125rem;
  height: 2.8125rem;
  background-color: #fff;
  border-radius: 1.5625rem;
  position: absolute;
  top: 35%;
  right: 43%;
  cursor: pointer;
}
.clip-card__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0rem;
       column-gap: 0rem;
  row-gap: 0rem;
  padding: 0;
  font-size: 0.8125rem;
}
.clip-card__body--name {
  font-size: 1rem;
  padding: 0 0.625rem;
}

@media (min-width: 1179px) {
  .clip-card {
    flex: 1 1 20%;
  }
}
@media screen and (min-width: 750px) and (max-width: 1179px) {
  .clip-card {
    flex: 1 1 33%;
  }
}
@media (max-width: 749px) {
  .clip-card {
    flex: 1 1 80%;
  }
}
.card__stream {
  min-width: 8.125rem;
  background-color: #1f2122;
  padding: 0.390625rem 0rem;
  border-radius: 0.1953125rem;
  color: #fff;
  margin-right: 0.9375rem;
  margin-bottom: 1.25rem;
}
.card__stream--img {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
  -moz-column-gap: 0rem;
       column-gap: 0rem;
  row-gap: 0rem;
}
.card__stream img {
  border-radius: 1.5625rem;
  margin-bottom: 0.625rem;
  width: 100%;
}
.card__stream--img:hover .show-streamers {
  opacity: 0.9;
  bottom: 8%;
}
.card__stream--body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  row-gap: 0.625rem;
  padding: 0 0.3125rem;
  font-size: 0.875rem;
}
.card__stream--body__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  -moz-column-gap: 0.3125rem;
       column-gap: 0.3125rem;
  row-gap: 0.3125rem;
}
.card__stream--body__info__state {
  font-family: Arial, Helvetica, sans-serif;
  color: gray;
  font-size: 0.875rem;
  text-indent: 0rem;
}
.card__stream--body__rating {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 0.3125rem;
       column-gap: 0.3125rem;
  row-gap: 0.3125rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 300;
}

.show-streamers {
  font-size: 0.875rem;
  color: #ec6090;
  padding: 0.5rem 0.9375rem;
  border-radius: 1rem;
  background-color: #1f2122;
  opacity: 0;
  text-align: center;
  position: absolute;
  bottom: 0;
  transition: opacity 0.4s;
  transition: bottom 0.4s;
}

.streamer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.3125rem;
       column-gap: 0.3125rem;
  row-gap: 0.3125rem;
  color: #fff;
}
.streamer__img img {
  border-radius: 1.5625rem;
  margin-left: 1rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.streamer__name {
  color: #ec6090;
  font-size: 0.9375rem;
}
.streamer__name span:first-child {
  font-size: 1.125rem;
}

.streamerAfter {
  color: #fff;
  height: 0.125rem;
}

.liveStream {
  min-width: 10rem;
  background-color: #1f2122;
  padding: 0rem 0rem;
  border-radius: 0rem;
}
.liveStream__img {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 0rem;
       column-gap: 0rem;
  row-gap: 0rem;
}
.liveStream__img:hover .streamser-views > span, .liveStream__img:hover .streamer-live {
  opacity: 0.9;
}
.liveStream__img img {
  width: 100%;
  border-radius: 2.0833333333rem;
}
.liveStream__body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  row-gap: 0.9375rem;
  padding: 0.9375rem 0.625rem;
}
.liveStream__body--img {
  flex: 1 1 25%;
}
.liveStream__body--img img {
  width: 100%;
  border-radius: 1.5625rem;
}
.liveStream__body--info {
  flex: 1 1 70%;
}
.liveStream__body--info-name {
  color: #ec6090;
  font-size: 0.9375rem;
  margin-bottom: 0.625rem;
}
.liveStream__body--info-name span:First-child {
  font-size: 1.25rem;
}
.liveStream__body--info-state {
  font-size: 1.125rem;
}

.streamser-views {
  position: absolute;
  bottom: 1.25rem;
}
.streamser-views span {
  font-size: 0.875rem;
  color: #fff;
  padding: 0.3125rem 0.5rem;
  border-radius: 0.625rem;
  background-color: #ec6090;
  opacity: 0;
  border-radius: 0.9375rem;
  margin-right: 0.3125rem;
  transition: opacity 0.4s;
}

.streamer-live {
  font-size: 0.875rem;
  color: #fff;
  padding: 0.3125rem 0.625rem;
  border-radius: 0.625rem;
  background-color: #ec6090;
  opacity: 0;
  border-radius: 0.9375rem;
  position: absolute;
  top: 2.1875rem;
  right: 1.25rem;
  transition: opacity 0.4s;
}

.Cybrog-navbar {
  background-color: #1f2122;
  min-height: 5rem;
}
.Cybrog-navbar .inter-nav__search {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  row-gap: 0.625rem;
  background-color: #27292a;
  color: #666;
  width: 13.75rem;
  height: 46px;
  border-radius: 23px;
  border: none;
  font-size: 14px;
  padding-left: 0.625rem;
  margin-left: 7.5rem;
}
.Cybrog-navbar .inter-nav__search input {
  background-color: transparent;
  border: none;
  font-size: 0.875rem;
  color: #fff;
}
.Cybrog-navbar .inter-nav__search input::-moz-placeholder {
  color: #666;
}
.Cybrog-navbar .inter-nav__search input::placeholder {
  color: #666;
}
.Cybrog-navbar .inter-nav__search span {
  border-right: 0.0625rem solid #666;
  color: #666;
  font-size: 20px;
  padding: 0 0.3125rem;
}

.toggler-button {
  width: 3.125rem;
  height: 3.125rem;
  background-color: #fff;
  border: none;
  padding-top: 0.9375rem;
}
.toggler-button__text::before {
  content: "";
  display: block;
  width: 90%;
  height: 0.125rem;
  background-color: #ec6090;
}
.toggler-button__text::after {
  content: "";
  display: block;
  width: 120%;
  height: 0.125rem;
  background-color: #ec6090;
  margin-top: 0.4375rem;
}
.toggler-button__text2::after {
  content: "";
  display: block;
  width: 90%;
  height: 0.125rem;
  background-color: #ec6090;
  margin-top: 0.4375rem;
}

@media (min-width: 992px) {
  .collaps-section ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 0.9375rem;
         column-gap: 0.9375rem;
    row-gap: 0.9375rem;
  }
  .collaps-section ul .profile-Wrapper {
    min-width: 6.25%rem;
    background-color: #27292a;
    padding: 0.2604166667rem 0.78125rem;
    border-radius: 0.1302083333rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    -moz-column-gap: 0.3125rem;
         column-gap: 0.3125rem;
    row-gap: 0.3125rem;
    background-color: #27292a;
    color: #666;
    border-radius: 1.5625rem;
  }
  .collaps-section ul .profile-Wrapper img {
    width: 1.875rem;
    border-radius: 1.5625rem;
  }
  .collaps-section ul .profile-Wrapper:hover {
    background-color: #ec6090;
  }
  .collaps-section ul .profile-Wrapper:hover a {
    color: #fff;
  }
}
@media (max-width: 991px) {
  .Cybrog-navbar {
    background-color: #fff;
  }
  .inter-nav__search {
    opacity: 0;
  }
  .profile-Wrapper img {
    display: none;
  }
}
.Hero__text {
  color: white;
  font-size: 1.5625rem;
  padding-bottom: 1.5625rem;
}
.Hero__title {
  font-size: 3.125rem;
  font-weight: 800;
  color: #fff;
  padding-bottom: 1.25rem;
}
.Hero__title span {
  color: #ec6090;
}

.most-popular__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.625rem;
       column-gap: 0.625rem;
  row-gap: 0.625rem;
  flex-wrap: wrap;
}

footer {
  color: #fff;
  margin: 1.5625rem 0;
}
footer a {
  color: #fff;
}
footer a:hover {
  color: #ec6090;
}

.footer {
  text-align: center;
}

.profile-hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  row-gap: 1.25rem;
  flex-wrap: wrap;
  padding-bottom: 1.875rem;
}
.profile-hero__img {
  min-width: 15.625rem;
}
.profile-hero__img img {
  width: 100%;
  border-radius: 1.875rem;
}
.profile-hero__info {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
  row-gap: 1.875rem;
  min-width: 11.875rem;
}
.profile-hero__info--name {
  font-size: 1.25rem;
  font-weight: bold;
}
.profile-hero__info p {
  font-size: 0.875rem;
  font-weight: 400;
  color: #666;
}
.profile-hero__details {
  min-width: 13.125rem;
  background-color: #27292a;
  padding: 1.25rem 1.875rem;
  border-radius: 0.625rem;
  border-radius: 1.875rem;
  width: 18.75rem;
}
.profile-hero__details--value {
  color: #ec6090;
}
.profile-hero__details ul > li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0rem;
       column-gap: 0rem;
  row-gap: 0rem;
  font-size: 0.9375rem;
  color: #666;
  padding: 0.5rem 0rem;
}
.profile-hero__details ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
}

.profile-clips {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  row-gap: 1.25rem;
  flex-wrap: wrap;
}

.load-clips-button {
  margin-top: 2.5rem;
  text-align: center;
}

@media (min-width: 1120px) {
  .profile-hero > * {
    flex: 1 1 28%;
  }
}
@media screen and (min-width: 500px) and (max-width: 1119px) {
  .profile-hero > * {
    flex: 1 1 55%;
  }
  .profile-hero {
    row-gap: 2.5rem;
  }
}
.liveStream-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  row-gap: 1.25rem;
  flex-wrap: wrap;
}

.liveStream-Wrapper {
  min-width: 25rem;
  background-color: #1f2122;
  padding: 1.25rem 1.25rem;
  border-radius: 0.9375rem;
  flex-shrink: 0;
  margin-bottom: 1.875rem;
}

.topStreamers-Wrapper {
  min-width: 15.625rem;
  background-color: #1f2122;
  padding: 1.25rem 1.25rem;
  border-radius: 0.9375rem;
  flex-shrink: 2;
  margin-bottom: 1.875rem;
}

.mostPopular__liveStreams {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  row-gap: 0.9375rem;
  flex-wrap: wrap;
}
.mostPopular__liveStreams--button {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  -moz-column-gap: 0rem;
       column-gap: 0rem;
  row-gap: 0rem;
  position: absolute;
  bottom: -0.9375rem;
  padding-right: 3.75rem;
}

@media (min-width: 1024px) {
  .liveStream-Wrapper {
    flex: 1 1 59%;
  }
  .topStreamers-Wrapper {
    flex: 1 1 35%;
  }
  .liveStream {
    flex: 1 1 20%;
  }
}
@media screen and (min-width: 500px) and (max-width: 1080px) {
  .liveStream-Wrapper {
    flex: 1 1 60%;
  }
  .topStreamers-Wrapper {
    flex: 1 1 60%;
  }
  .liveStream {
    flex: 1 1 40%;
  }
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .liveStream-Wrapper {
    flex: 1 1 60%;
  }
  .topStreamers-Wrapper {
    flex: 1 1 60%;
  }
  .liveStream {
    flex: 1 1 60%;
  }
}/*# sourceMappingURL=App.css.map */