.main__container{
  width:80%;
  margin:  auto;
  padding: rem($primarypadding);
  min-width: rem(540);
  max-width: 100%;
  background-color: $colorDark;
  border-radius: rem($disprimary/2);
  margin-top: rem(50);

}



@media screen and (min-width: 500px) and (max-width: 1080px) {
.main__container{
  width:70%;
}
  
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .main__container{
    width:95%;
  }
  
}
