.card{
  @include section-wrapper(150,$colorDark,$primarypadding/2,$primarypadding/4);
  color:$colorlight; 
  img{
    border-radius: rem($disprimary/4);
    margin-bottom: rem($primarymargin/5);
  }
  &-body{
    @include flex(row,space-between,center,10);
    padding:0;
    font-size: rem(14);
    &__info{
      @include flex(column,start,center,10);
      &__name{
        font-weight:700;
        text-indent: rem(-3)
      }
      &__state{
        color:gray;
        
      }
    }
    &__rating{
      @include flex(column,start,center,10);

    }
  }
}


@media (min-width: 1140px) {
  .card{
    flex:1 1 20%;
  }
  }
@media screen and (min-width: 500px) and (max-width: 1140px) {
  .card{
    flex:1 1 40%;
  }

  
}
@media screen and (min-width: 0px) and (max-width: 500px) {
  .card{
    flex:60%;  
  }  
}
