.Library-card{
  @include section-wrapper(300,$colorDarkest,$primarypadding/4,$primarypadding/4);
  @include flex(row,space-between,center,20);
  flex-wrap: wrap;
  &::after{
    @include horizontal-line(1,$primaryColor,100%);

  }
  
  img{
    width:rem(100);
    border-radius: rem($disprimary/2);
  }  
  span{
    color:gray; 
  }
}
@media screen and (min-width: 750px) and (max-width: 1150px) {
  .Library-card>*{
    flex:1 1 25%;
  }
}
@media screen and (min-width: 400px) and (max-width: 750px) {
  .Library-card{
    justify-content: space-between;
    &__img{
      flex:1 1 100%;
      text-align: center;
    }
    &__button{
      flex:1 1 100%;
      text-align: center;
    }
    &__name{
      flex:1 1 35%;
      text-align: center;

    }
   &__spended-time{
      flex:1 1 35%;
      text-align: center;

    }
    &__date-join{
      flex:1 1 35%;
      text-align: center;

    }
    &__game-state{
      flex:1 1 35%;
      text-align: center;

    }
  }
}