.Hero{
  &__text{
    color:white;
    font-size: rem(18);
    padding-bottom: rem($disprimary/2);

  }
  &__title{
    span{
      color:$primaryColor;
    }
    font-size: rem(45) ;
    font-weight: 800;
    color:$colorlight;
    padding-bottom: rem(30);
    line-height: rem(60);

  }
  
}