.Hero{
  &__text{
    color:white;
    font-size: rem($disprimary/2);
    padding-bottom: rem($disprimary/2);

  }
  &__title{
    span{
      color:$primaryColor;
    }
    font-size: rem(50) ;
    font-weight: 800;
    color:$colorlight;
    padding-bottom: rem(20);

  }
  
}