.streamer{
  @include flex(row,space-between,center,5);
  color:$colorlight;
  &__img img{
    border-radius: rem($disprimary/2);
    margin-left:rem(16) ;
    object-fit: cover;
  }
  &__name{
    color: $primaryColor;
    font-size: rem(15);
    span:first-child{
      font-size: rem(18);
    }
  }
}
.streamerAfter{
    color:$colorlight;
    height: rem(2);
  }
